/*  background: #34223e;  /* fallback for old browsers
background: -webkit-linear-gradient(#34223e, #0f142b);
background: -moz-linear-gradient(#34223e, #0f142b);
background: -o-linear-gradient(#34223e, #0f142b);
background: linear-gradient(#34223e, #0f142b);  W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

html, body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background: rgb(30,87,153); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(30,87,153,1) 0%, rgba(255,255,255,1) 0%, rgba(255,249,249,1) 5%, rgba(238,238,238,1) 100%, rgba(195,214,229,1) 100%) fixed; /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(255,255,255,1) 0%,rgba(255,249,249,1) 5%,rgba(238,238,238,1) 100%,rgba(195,214,229,1) 100%) fixed; /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(255,255,255,1) 0%,rgba(255,249,249,1) 5%,rgba(238,238,238,1) 100%,rgba(195,214,229,1) 100%) fixed; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

body {
  font-family: 'Roboto', sans-serif;
}

/*h1 {
  font-family: 'Shadows Into Light Two', cursive;
}*/

h1, h2, h3, h4 {
  font-family: 'Roboto', sans-serif;
  color: #888;
}

#nav img:hover {
  cursor: pointer;
}

.chart1 {
  height: 80vh;
}

.chart2 {
  height: 20vh;
}

.timeline-container {
  height: 100vh;
  position:fixed;
  top:0px;
  bottom:0px;
  left:0px;
  right:0px;
}

.signupform, .login, .oauth {
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
  width: 100%;
  margin: auto;
}

#empty-message {
  color: #BDBDBD;
  width: 50%; /* width and margin horizontally center it */
  margin: auto;
  position: relative; /* relative position & transform vertically center it */
  top: 60%;
  transform: translateY(-50%);
  text-align: center;
}

#empty-message h4 {
  font-weight: 300;
}

/*.resource-card {
  padding: 5px;
  margin: 15px 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
}*/

/*
.resource-img {
  padding: 10px;
}
*/
