/*  background: #34223e;  /* fallback for old browsers
background: -webkit-linear-gradient(#34223e, #0f142b);
background: -moz-linear-gradient(#34223e, #0f142b);
background: -o-linear-gradient(#34223e, #0f142b);
background: linear-gradient(#34223e, #0f142b);  W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

html,

body {
  width: 100%;
  height: 100vh;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Roboto', sans-serif;
}

.chart1 {
  height: 80vh;
}

.chart2 {
  height: 20vh;
}

.timeline-container {
  height: 100vh;
  position:fixed;
  top:0px;
  bottom:0px;
  left:0px;
  right:0px;
}

.signupform, .login, .oauth {
  text-align: center;
}

.form-group {
    margin-bottom: 15px;
    width: 100%;
    margin: auto;
}

/*.resource-card {
  padding: 5px;
  margin: 15px 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
}*/

/*
.resource-img {
  padding: 10px;
}
*/
